body {
  font-family: Georgia, 'Hiragino Mincho Pro', Meiryo, serif;
  margin:20px auto;
  text-align: center;
  line-height: 1.5em;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Hiragino Kaku Gothic Pro",  Meiryo, sans-serif;
  font-weight: lighter;
}
a:link, a:visited {
  text-decoration: none;
}
a:hover {
}
header, nav, section, footer {
  display: block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 5px;
  padding: 0 20px 10px 20px;
  font-size: 12pt;
  text-align: left;
}
header {
  text-align: center;
  padding: 30px;
  border: none;
  font-size: 30px;
}
header h1, header h2, header h3, header h4, header h5, header h6, header li, header p {
  font-family: Georgia, 'Hiragino Mincho Pro', Meiryo, serif;
}
header h1 {
  font-size: 2.3em;
  text-transform: none;
  letter-spacing: 0em;
}
header h2 {
  margin: -10px 0px 20px;
  font-size: 1.3em;
}
header ul {
  padding: 0px;
  list-style-type: none;
  display: inline;
}
header li {
  margin: 0px 10px;
  padding: 0px;
  list-style-type: none;
  display: inline;
}
header a:link, nav a:visited {
  font-weight: normal;
}
nav {
  float: right;
  width: 250px;
  height: 800px;
}
nav h1 {
  font-size: 1.4em;
}
section {
  width: 95%;
  height: 800px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
section h1, nav h1 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin: 10px -10px;
}
section ul {
  padding: 0px;
  list-style: none;
  border-top: 1px solid #E7E2D7;
  margin: 14px 0px;
}
section li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
section li a:link, section li a:visited {
  float: left;
  width: 96%;
  padding: 3px 1%;
}
section li a:hover {
}
section p {
  font-size: 0.9em;
}
.search-text {
  width: 200px;
  padding: 8px 20px;
  height: 25px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid;
}
.search-button {
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  background-color: #7F6363;
}
article {
  margin: 0 0 30px 0;
}
footer {
  clear: both !important;
  padding: 10px;
  border: none;
  color: #000000;
  font-size: 0.8em;
  text-align: center;
}
footer a {
  margin: 0px 5px;
}
